[build-system]
requires = ["flit_core >=3.2,<4","setuptools"]
build-backend = "flit_core.buildapi"

[project]
name = "gkbus"
authors = [{name = "Dante", email = "dante383@protonmail.com"}]
version = "0.3.7"
dynamic = ["description"]
dependencies = ["scapy==2.5.0", "pyserial==3.5"]
